<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiến Anh Nguyễn</title>
</head>
<body>
    <h1>Something about me =))</h1>
    <h3></h3>
    <a href="https://www.facebook.com/caube.gio.739" target="_blank" title="Click đi hay lắm =))"><img src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/50601050_2304434853163535_8611613435131592704_n.jpg?_nc_cat=110&_nc_eui2=AeGaHHaeoUjxeQBOy21HZBDSiKNlTFQZW-J1vio8MCoe-JrYgHacdlm2I1WzKiH3gsNbaa4ucsICWriM6rFCORCnJmtCF0ZNrZkucVDqo_FrIg&_nc_oc=AQk74cFBFM98qNQW6YRIGv9R0VmXPqy-kAi557YBiHTKUCxh-nX5mtwlf51RpkzZgFE&_nc_ht=scontent.fhan3-1.fna&oh=eeffc331298ea52281c3fcf7ef11e9a4&oe=5D26F3DF" alt=""></a>
    <h4></h4>
    <a href="https://www.facebook.com/caube.gio.739" target="_blank" title="Click đi hay thật mà =))"><h4 style = "color: blueviolet">   My Facebook Profile =))</h4></a>
    <h1></h1>
    <a href="https://www.instagram.com/phongconnnnn/" target="_blank" title="Click đi ko tin à =))"><img src="https://scontent.fhan3-3.fna.fbcdn.net/v/t1.0-9/52158519_1105813776265729_8994362559565922304_o.jpg?_nc_cat=106&_nc_eui2=AeHIEF7at0mfb_bUq0rA51ZO9T90Ik0Q2L2wxOGZDzM6UWQJ6DzNuK0LCMFXfAoPi8_akvZ8-ZTUUKx-zzJ_M3dOzPWb5Vpd9gKgYiCnpZrejQ&_nc_oc=AQmK6SNlF-sTelT7EMd0HexAImDUNlmsQcc9B2tL92g3D9iO8VC4xFXq4USjTCmd47Y&_nc_ht=scontent.fhan3-3.fna&oh=0f3115059fae7b5c132871bb5e20f0f5&oe=5CE75551" alt=""></a>
    <h4></h4>
    <a href="https://www.instagram.com/phongconnnnn/" target="_blank" title="Thề =)) hay cực =)) click đi =))"><h4 style = "color: purple">   Đánh tiếng Anh mệt quá r =)) Insta của a đây =))</h4></a>
    <h1></h1>
    <h1>Chưa hết đâu =))</h1>
    {% for me in ab_m %}
        <h2 style="color: midnightblue">{{ me["key"] }}: {{ me["value"] }}</h2>
    {% endfor %}
    <h1></h1>
    <h1>Bây giờ thì hết rồi =))</h1>
</body>
</html>