<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body{
        background-image: url("https://scontent.fhan3-3.fna.fbcdn.net/v/t1.0-9/10154471_441599195983427_7029789957601617138_n.jpg?_nc_cat=106&_nc_oc=AQkwayraI0txPLw7x2vWAYm0WyKZ1sozJibLT1CqEAtvlR1qQmj41wqcaGDU-tGlCVA&_nc_ht=scontent.fhan3-3.fna&oh=7583a08c74a4b7175c2615b7b5626235&oe=5D1DED86");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 10%;
        opacity: 0.5;
        display: block;
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIÊN BẠT quê tôi</title>
</head>
<body>
    
</body>
</html>