<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body{
        background-color: black;
    }
    .fbi {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        margin: auto;
        background-color: red;
        padding: 20px;
        width: 410px;
        height: 50px;
        font-size: 50px

    }
    .para {
        font-style: italic;
        text-align: center;
        color: white
    }
    div {
        margin: auto;
        width: 50%;
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WARNING</title>
</head>
<body>
    <div style="padding-top: 150px">
        <h1 class="fbi">FBI WARNING !!!</h1><br>
        <h1 class="para">Passwords is wrong !!!</h1>
        <h4 class="para">Please back to the previous page to login again !!!</h4>
    </div>
</body>
</html>