<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Home Town</title>
</head>
<body>
    <h1>Log in to know about my home town</h1>
    <br>
    <h3>Use one of usernames: <strong>TienAnh98</strong>, <strong>TamVu</strong>, <strong>PhongTienNguyen</strong></h3>
    <br>
    <h3>With passwords: ourtownsobeautiful</h3>
    <a href="/login"><button>LOGIN</button></a>
</body>
</html>