 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Add a bike</title>
 </head>
 <body>
     <form  method = "POST">
     <h2>Model <input type="text" name="model"><br></h2>
     
     <h2>Daily fee (VND) <input type="number" name="fee"><br></h2>
     
     <h2>Image <input type="text" name="img"><br></h2>
     
     <h2>Year <input type="number" name="year"><br></h2>
     
     <button>Submit</button>
    </form>
 </body>
 </html>